
#app {
  font-family: 'Open Sans', sans-serif;

  .table {
    margin: 1em;
    display: flex;
    flex-direction: column;

    .header, .row {
      display: flex;

      div {
        flex: 1;
        padding: 0.2rem 0.4em;
        border: 1px solid rgb(238, 238, 238);
      }
    }

    .header {
      background-color: rgb(238, 238, 238);
      div {
        cursor: pointer;
      }
    }
  }
}


#page-numbers {
  list-style: none;
  display: flex;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.2em;

  li {
    margin-right: 0.3em;
    color: blue;
    user-select: none;
    cursor: pointer;
  }
}
